@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/*** BASE ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Mono', monospace;
  color: #333;
  background-color: #fff;
}

::selection {
  background-color: #333;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4.8rem;
}

/*** LAYOUT ***/
.header {
  padding: 4.8rem 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem;

  img {
    width: 100%;
  }
}

.text-box {
  h1 {
    font-size: 6.2rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
  }

  p {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.6;
    width: 26ch;
    margin-bottom: 6.4rem;
  }

  a:link,
  a:visited {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #333;
    padding: 2.4rem 4.8rem;

    transition: 0.2s background-color;
  }

  a:hover, a:active {
    background-color: #424242;
  }
}

// media queries for smaller desktop
@media screen and (max-width: 1200px) {
  .header {
    padding: 3.2rem 0;
  }

  .text-box {
    h1 {
      font-size: 5.2rem;
      line-height: 0.9;
      margin-bottom: 2.4rem;
    }

    p {
      font-size: 2rem;
      margin-bottom: 4.8rem;
    }

    a:link,
    a:visited {
      font-size: 1.4rem;
      padding: 1.6rem 3.2rem;
    }
  }

  .logo {
    font-size: 2.4rem;
  }
}

// media queries for tablet
@media screen and (max-width: 768px) {
  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

// media queries for mobile 
@media screen and (max-width: 576px) {
  .header {
    padding: 2.4rem 0;
  }

  .text-box {
    h1 {
      font-size: 4.8rem;
      margin-bottom: 1.6rem;

    }

    p {
      font-size: 1.6rem;
      width: 30ch;
      margin-bottom: 3.2rem;
    }

    a:link,
    a:visited {
      font-size: 1.2rem;
      padding: 1.2rem 2.4rem;
    }
  }
}